{% extends 'base.html'%}
{% block content %}
{% load static %}

	<div class="hero-wrap hero-bread" style="padding: 3em 0;">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">

        </div>
      </div>
    </div>
<div class="container">
    <img src="{% static 'images/women.jpg'%}">

    <h2 class="mt-5 text-center">Our Men's Collection</h2>
</div>
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 col-md-6">
      <img src="{% static 'images/top.jpg'%}" style="width:100%; height:318px;">
    </div>
          <div class="col-lg-6 col-md-6">
        <img src="{% static 'images/gown.jpg'%}" style="width:100%;">
    </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 col-md-6">

         <img src="{% static 'images/gown.jpg'%}" style="width:100%;">
    </div>
          <div class="col-lg-6 col-md-6">
         <img src="{% static 'images/top.jpg'%}" style="width:100%; height:318px;">
    </div>
    </div>
</div>

   <section class="ftco-section bg-light ftco-services mt-5 mb-5">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big mt-5">Sitannya</h1>
<!--            <h2>We want you to express yourself</h2>-->
          </div>
        </div>
            <h4 >Looking to buy men’s clothes online?</h4>
            <p class="text-justify">If you are planning to upgrade your wardrobe, then it’s time to rejoice. Sitannya’s Fashion line brings a wide range of men’s clothing for both casual and party wear which have been designed as per the latest market trends, makes it quite easier for you to enjoy a hassle-free shopping online.
</p>
 <p class="text-justify">Sitannya’s men’s collection consists of a wild mix of stunning styles, elegance, and latest men’s trends followed by every generation men’s styles. Men’s fashion clothes is on a steady rise for past couple of years. This results in expanding a high demand of branded apparels and online shopping. We believe in multiplying your fashion needs to introduce you to the latest men’s trends and stay updated every minute. There is a huge variety of colors and styles you could pick from. Explore a wide range of the latest Men’s Collection and avail exclusive discounts with Sitannya Men’s Wear that offers the best of all.
</p>
			<h4 style="font-size:20px;">What’s in Men’s Cart?</h4>
        <p class="text-justify">The very first thing that strikes your mind is how to get the trendiest formal and informal looks? Whether you want to order casual men’s wear or formal wear, ethnic wear or sportswear we have wide range of designs for you. Moreover, these designs comes with a variety of colors, prints, both animated or non-animated characters, occasional prints, & designs especially made for special occasions such as Holi, Diwali, Dushera and so on. Apart from this, we have our unique collection of Sport’s wear with trendiest sports prints following special sports days such as IPL, Football, etc. We have separated Men’s Wear into 5 main categories: Men’s Casual Wear, Formal Wear, Ethnic Wear, Occasional Wear and Sportswear.</p>



    	</div>
    </section>

{% endblock %}