{% extends 'base.html'%}
{% block content %}
{% load static %}
		<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg'%}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Our Brand</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="../">Home</a></span> <span>Our Brand</span></p>
          </div>
        </div>
      </div>
    </div>



<div class="container" style="margin-top:120px; margin-bottom:100px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" >
            <img src="{% static 'images/fonder.jpg'%}" width="100%">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="india text-justify">
                <b>Sitannya</b> is a professionally built e-commerce website to bloom your <b>online shopping experience.</b>
        Founded on 1st April 2015, this store offers eye-catching range of elegant designs. The one-stop <b>
        online fashion store </b>for men, women & kids with all the breathtaking prints, gorgeous color palettes, flattering silhouettes at affordable price. This online fashion hub sells out more than 10,000+ clothes every year.
        There is no doubt in the quality and dignity of the clothes which you are going to purchase here.
        Sitannya is open for all, it offers a wide range of collection for </p>

        </div>
    </div>
    <div class="container" style="margin-top:40px;">
    <div class="row">
     <p class="india">Men, women & kids in various sizes ranging from Small to XXL.
    <b>Sitannya Fashion Store</b> is a mixture of both indo-western silhouettes and fashion,
    find contemporary kurti designs with attractive colors and bright prints. Despite from other online shopping brands,
    Sitannya is the latest and trendy
    <b>e-commerce website that offers very minimalistic designs</b> that displays the brands category of the sold product.
    </p>
        </div>
    </div>
</div>
{% endblock %}