{% extends 'base.html'%}
{% block content %}
{% load static %}

	<div class="hero-wrap hero-bread" style="padding: 3em 0;">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">

        </div>
      </div>
    </div>
<div class="container">
    <img src="{% static 'images/women.jpg'%}">

    <h2 class="mt-5 text-center">Our Women's Collection</h2>
</div>
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 col-md-6">
      <img src="{% static 'images/top1.jpg'%}" style="width:100%; height:318px;">
    </div>
          <div class="col-lg-6 col-md-6">
        <img src="{% static 'images/gown3.jpg'%}" style="width:100%;">
    </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-6 col-md-6">

         <img src="{% static 'images/gown.jpg'%}" style="width:100%;">
    </div>
          <div class="col-lg-6 col-md-6">
         <img src="{% static 'images/top.jpg'%}" style="width:100%; height:318px;">
    </div>
    </div>
</div>

   <section class="ftco-section bg-light ftco-services mt-5 mb-5">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h1 class="big mt-5">Sitannya</h1>
<!--            <h2>We want you to express yourself</h2>-->
          </div>
        </div>
            <h4 style="font-size:20px;">CARRY THE TRENDIEST STYLE @SITANNYA’S WOMEN’S COLLECTION</h4>
            <p>Are you looking to buy the gorgeous outfits?</p>

			<p class="text-justify">
           Women’s usually requires lots of dresses to go out. Wearing the same old dress is out dated.
                Sitannya is a one-stop shop solution for all your fashion needs. Women’s are the sight of every faces in the world, which makes it hard for them to stay updated every single second.
                It requires a lot of your efforts as well as the right choice.
                With Sitannya’s Women Collection replace your wardrobe with out-dated dresses which you never want to wear again. Now the time has changed and every women wants to adopt trendy looks to enhance her personality. We have kept all your fashion needs in mind and introduced you with your desired fashion outfits especially designed for daily elegant looks, special occasions and corporate events.
			</p>
            <p class="text-justify">Sitannya Women’s Collection offers the best prices for your favorite women’s wear designed just for you. We provide you an ultimate experience of shopping for yourself and your loved ones. Our exclusive sale for women gives you a chance to pack yourself with some exciting deals on women’s wear.
</p>
			<h4>Get ready for the change!</h4>
           <p class="text-justify">The Sitannya Fashion line is offering a great chance to fill up your wardrobes with alluring outfits waiting to be a part of your collection. This is the perfect time when you forget style out of tiring sunny day and your heavy outfits which makes you uncomfortable all the time. Now we have special summer & winter collection for you which allows you to maintain style along with comfort.  Experience a grand way of shopping online with us. We carefully separates collections of both traditional and on-trend so it makes it easier for you to choose from a wide range of women’s apparel’s at our store.  Every season, we have a wide range of modern as well as classic pieces. Here you will find the best deals in ladies apparels at discounted price.
</p>



    	</div>
    </section>

{% endblock %}